<div class="viewer" >
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened *ngIf="!hideToolbar">
        <div logo [routerLink]="['/']">
          <img src="assets/hermes/logo.png">
          <div class="info">
            <h1 no-margin><b>Mercury</b></h1>
            <h6 no-margin><b>Tracking y Riders</b></h6>
          </div>
        </div>
        <mat-list>
          <mat-list-item  class="menu-item" *ngFor="let action of actions" [routerLink]="['/'+action.route]">
            <div class="item-wrapper" shadowOnHover>
              <mat-icon mat-list-icon>{{action.icon}}</mat-icon>
              <h4 mat-line>{{action.name}}</h4>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-drawer>
      <mat-drawer-content>
        <mat-toolbar *ngIf="!hideToolbar" class="toolbar" color="primary">
          <mat-toolbar-row>
          </mat-toolbar-row>
        </mat-toolbar>
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  
  