.mat-table{
    width: 100%;
}

.table-row{
    :hover{
        cursor: pointer;
        font-weight: bold;
    }
}

.dashboard{
    display: flex;
    flex-wrap: wrap;
}

.cardlist{
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 4em;
}