<h4 class="breadcrumb"><mat-icon>storefront</mat-icon>Darkstores</h4>
<div class="dashboard row">
  <div class="col-3">
    <mat-card [class.mat-elevation-z1]="false" stat>
        <div>
            <h5 info>Ordenes totales</h5>
            <h1 title>{{ordersService.notFinished().length}}</h1>
        </div>
        <div class="primary-lighter-bg" iconInLight>
            <mat-icon class="primary-darker">inventory</mat-icon>
        </div>
    </mat-card>
  </div>
  <div class="col-3">    
    <mat-card [class.mat-elevation-z1]="false" stat>
      <div>
          <h5 info>Tiempo promedio de delivery</h5>
          <h1 title>{{ordersService.averageDeliveryTime}} Minutos</h1>
      </div>
      <div class="primary-lighter-bg" iconInLight>
          <mat-icon class="primary-darker">timer</mat-icon>
      </div>
  </mat-card>
  </div>
  <div class="col-3">
    <mat-card [class.mat-elevation-z1]="false" stat>
      <div>
          <h5 info>Repartidores activos</h5>
          <h1 title>{{ridersService.fleet.length}}</h1>
      </div>
      <div class="primary-lighter-bg" iconInLight>
          <mat-icon class="primary-darker">directions_bike</mat-icon>
      </div>
    </mat-card>
  </div>
  <div class="col-3">
    <mat-card [class.mat-elevation-z1]="false" stat>
      <div>
          <h5 info>Costo promedio por orden</h5>
          <h1 title>{{ordersService.averageCost}} CLP.</h1>
      </div>
      <div class="primary-lighter-bg" iconInLight>
          <mat-icon class="primary-darker">attach_money</mat-icon>
      </div>
    </mat-card>
  </div>

</div>

<div class="darkstores-general">
  <mat-card class="cardlist">

    <table mat-table [dataSource]="trackingService.trackingStatus">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Tienda </th>
          <td mat-cell *matCellDef="let tienda"> {{storesService.getStoreById(tienda.storeId).county}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="ordequeued">
          <th mat-header-cell *matHeaderCellDef> P. En cola </th>
          <td mat-cell *matCellDef="let tienda"> {{tienda.ordersInQueue.length}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="dispatched">
          <th mat-header-cell *matHeaderCellDef> R. Disponibles </th>
          <td mat-cell *matCellDef="let tienda"> {{tienda.avaibleRiders.length}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef> R. Activos </th>
          <td mat-cell *matCellDef="let tienda"> {{tienda.deliveringRiders.length}}  </td>
        </ng-container>

        <ng-container matColumnDef="delay">
            <th mat-header-cell *matHeaderCellDef > Ubicación </th>
            <td mat-cell *matCellDef="let tienda" >  {{tienda.storeLocation.lat}}, {{tienda.storeLocation.lng}}</td>
        </ng-container>

        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef class="pl"> Start</th>
            <td mat-cell *matCellDef="let tienda" class="pl">  </td>
        </ng-container>
        
        <ng-container matColumnDef="work">
            <th mat-header-cell *matHeaderCellDef> Work </th>
            <td mat-cell *matCellDef="let tienda">  </td>
        </ng-container>

        <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef> End </th>
            <td mat-cell *matCellDef="let tienda"> </td>
        </ng-container>

        <ng-container matColumnDef="temp">
            <th mat-header-cell *matHeaderCellDef> Temp </th>
            <td mat-cell *matCellDef="let tienda"></td>
        </ng-container>

        <ng-container matColumnDef="break">
            <th mat-header-cell *matHeaderCellDef> Break </th>
            <td mat-cell *matCellDef="let tienda"></td>
        </ng-container>


        <ng-container matColumnDef="rider">
            <th mat-header-cell *matHeaderCellDef> R</th>
            <td mat-cell *matCellDef="let tienda"> <mat-icon>directions_bike</mat-icon> </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row" [routerLink]="['/darkstores/'+row.storeId]"></tr>
      </table>
  </mat-card>
</div>