.event{
    display: flex;
    h4{
        margin-right: 1em;
    }
}

::ng-deep .containered{
    .map{
        margin-right: 3em;
        .breadcrumb{
            display: none !important;
        }
        app-menu{
            display: none;
        }
    }
}
.map{
    height: 47.5em;
    width: 55em;
    overflow: hidden;
}
.cards{
    display: flex;
    padding: 2em 0;
}

::ng-deep .riders{
    .store-details{
        .vehicle{
            display: none;
        }
        max-height: 45em;
        overflow: hidden;
    }
}

.second{
    padding: 1em;
}