<div class="containered">
    <div class="row">
        <div class="col-3">    
            <mat-card [class.mat-elevation-z1]="false" stat>
                <div>
                    <h5 info>Ordenes totales</h5>
                    <h1 title>236</h1>
                </div>
                <div class="primary-lighter-bg" iconInLight>
                    <mat-icon class="primary-darker">inventory</mat-icon>
                </div>
            </mat-card>
        </div>
        <div class="col-3">    
            <mat-card [class.mat-elevation-z1]="false" stat>
              <div>
                  <h5 info>Tiempo promedio de delivery</h5>
                  <h1 title>22 Minutos</h1>
              </div>
              <div class="primary-lighter-bg" iconInLight>
                  <mat-icon class="primary-darker">timer</mat-icon>
              </div>
          </mat-card>
        </div>
        <div class="col-3">    
            <mat-card [class.mat-elevation-z1]="false" stat>
              <div>
                  <h5 info>Repartidores activos</h5>
                  <h1 title>2 Riders</h1>
              </div>
              <div class="primary-lighter-bg" iconInLight>
                  <mat-icon class="primary-darker">directions_bike</mat-icon>
              </div>
            </mat-card>
            
        </div>
        <div class="col-3">    
            <mat-card [class.mat-elevation-z1]="false" stat>
              <div>
                  <h5 info>Costo promedio por orden</h5>
                  <h1 title>Na.</h1>
              </div>
              <div class="primary-lighter-bg" iconInLight>
                  <mat-icon class="primary-darker">attach_money</mat-icon>
              </div>
            </mat-card>
        </div>
    </div>
    <div class="row second">
        <div class="map col-6">
            <app-map [ridersIds]="storeTracking.avaibleRiders.concat(storeTracking.deliveringRiders)" *ngIf="store" [zoom]="14" [type]="'store'" [centeredIn]="storeTracking.storeLocation" ></app-map>
        </div>
        <div class="riders col-6">
            <app-riders [trackingServiceStatus]="storeTracking"></app-riders>
            <app-orders [storeId]="store.id"></app-orders>
        </div>
    </div>

</div>

