.mat-table{
    width: 100%;
}

.actionable{
    padding: 0.25em 0.5em;
    :hover{
        cursor: pointer;
        font-weight: bold;
        background-color: green;
        color: white;
    }
}

.dashboard{
    display: flex;
    flex-wrap: wrap;
}

.action{
    padding: 0.25em 0.5em;
    background-color: gray;
    color: white;
    border-radius: 10px;
    margin: 0 0.25em;
    &:hover{
        background-color: green;
        cursor: pointer;
    }
}

.cardlist{
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::ng-deep .select-rider{
    .mat-chip-list-wrapper{
        flex-direction: column !important;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        z-index: 100;
        background-color: white;
        padding: 1em 0.5em;
        border-radius: 1em;
        box-shadow: 0px 1px 10px -1px rgb(0 0 0 / 3%), 0px 1px 10px 0px rgb(0 0 0 / 5%), 0px 1px 10px 0px rgb(0 0 0 / 9%) !important;
    }
}

.state-1, .state-2{
    background-color: blue;
    color: white;
}
.state-8{
    background-color: green;
    color: white;
}

.state-3, .state-4, .state-5, .state-6, .state-7{
    background-color: orange;
    color: white;
}

.state-10{
    background-color: red;
    color: white;
}