<div *ngIf="!storeId" class="dashboard row">
  <div class="col-3">
    <mat-card [class.mat-elevation-z1]="false" stat>
      <div>
        <h5 info>Ordenes totales</h5>
        <h1 *ngIf="orders?.count" title>{{orders?.count}}</h1>
        <mat-spinner [diameter]="50" *ngIf="!orders?.count"></mat-spinner>
      </div>
      <div class="primary-lighter-bg" iconInLight>
        <mat-icon class="primary-darker">inventory</mat-icon>
      </div>
    </mat-card>
  </div>
  <div class="col-3">
    <mat-card [class.mat-elevation-z1]="false" stat>
      <div>
        <h5 info>Tiempo promedio de delivery</h5>
        <mat-spinner *ngIf="!ordersService.averageDeliveryTime"></mat-spinner>
        <h1 *ngIf="ordersService.averageDeliveryTime" title>{{ordersService.averageTime.toFixed()}} Minutos</h1>
      </div>
      <div class="primary-lighter-bg" iconInLight>
        <mat-icon class="primary-darker">timer</mat-icon>
      </div>
    </mat-card>
  </div>
  <div class="col-3">
    <mat-card [class.mat-elevation-z1]="false" stat>
      <div>
        <h5 info>Repartidores conectados</h5>
        <mat-spinner *ngIf="!trackingService.tracked"></mat-spinner>
        <h1 *ngIf="trackingService.tracked" title>{{trackingService.tracked.length}}</h1>
      </div>
      <div class="primary-lighter-bg" iconInLight>
        <mat-icon class="primary-darker">directions_bike</mat-icon>
      </div>
    </mat-card>
  </div>
  <div class="col-3">
    <mat-card [class.mat-elevation-z1]="false" stat>
      <div>
        <h5 info>Costo promedio por orden</h5>
        <h1 title>{{ordersService.averageCost}} CLP.</h1>
      </div>
      <div class="primary-lighter-bg" iconInLight>
        <mat-icon class="primary-darker">attach_money</mat-icon>
      </div>
    </mat-card>
  </div>

</div>

<div class="darkstores-general">
  <mat-card class="cardlist">
    <mat-spinner *ngIf="loading || !orders"></mat-spinner>
    <table mat-table *ngIf="!loading && orders" [dataSource]="orders.rows">

      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container  matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nro. de orden</th>
        <td mat-cell *matCellDef="let order" [routerLink]="['/orders/'+order.id  ]" class="actionable" > <b style="opacity:0.7">#{{order.id}}</b> </td>
      </ng-container>

      <ng-container matColumnDef="store">
        <th mat-header-cell  *matHeaderCellDef > Tienda </th>
        <td mat-cell *matCellDef="let order" > <b *ngIf="order.storeId">{{order.store ? order.store.name : 'Sin Tienda' }}</b> </td>
      </ng-container>

      <!-- Ref Id column -->
      <ng-container matColumnDef="refId">
        <th mat-header-cell *matHeaderCellDef> Ref ID</th>
        <td mat-cell *matCellDef="let order"> {{order.orderId}}</td>
      </ng-container>
      
      <!-- Name Column -->
      <ng-container matColumnDef="queued">
        <th mat-header-cell *matHeaderCellDef> Fecha</th>
        <td mat-cell *matCellDef="let order"> {{order.createdAt | date}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="dispatched">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let order"> {{ order.customer ? order.customer.name : 'Sin Ciente' }} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Hora asignación </th>
<<<<<<< HEAD
        <td mat-cell *matCellDef="let order"> {{order.createdAt ? order.createdAt : 0 | date:'hh:mm'}} </td>
=======
        <td mat-cell *matCellDef="let order"> {{order.createdAt | date:'HH:mm'}} </td>
>>>>>>> old-console
      </ng-container>

      <ng-container matColumnDef="delay">
        <th mat-header-cell *matHeaderCellDef> Hora entrega </th>
<<<<<<< HEAD
        <td mat-cell *matCellDef="let order"> <p>{{ order.deliveredAt ? order.deliveredAt : 'Sin fecha'}}</p></td>
=======
        <td mat-cell *matCellDef="let order"> <p *ngIf="ordersService.getEndDate(order)">{{ordersService.getEndDate(order) | date : 'HH:mm'}}</p></td>
>>>>>>> old-console
      </ng-container>

      <ng-container matColumnDef="minutes">
        <th mat-header-cell *matHeaderCellDef> Tiempo en reparto </th>
        <td mat-cell *matCellDef="let order" > <mat-chip><b style="margin-right:1em">{{order.deliveryTime ? order.deliveryTime : 'Sin minutos'}}</b> <span *ngIf="order.deliveryTime">Minutos</span></mat-chip> </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let order" > 
          <span class="action actionable">Dividir orden</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="work">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let order" [routerLink]="['/orders/'+order.id  ]">
          <div class="decorated-state " *ngIf="order.status"><mat-chip class="state-{{order.status.id}}">
            {{order.status.name}}
          </mat-chip>
          </div>
          <p *ngIf="!order.status">No hay estados</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="rider">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let order">
<<<<<<< HEAD
          <mat-chip-list *ngIf="order.status">
            <mat-chip (click)="changeRiderOrder(order)" *ngIf="order.riderId" >
=======
          <mat-chip-list>
            <mat-chip (click)="changeRiderOrder(order)" *ngIf="order" >
>>>>>>> old-console
              <mat-chip-avatar>
                <img src="assets/pictures/9.png">
              </mat-chip-avatar>
              {{order.rider?.name}}
              <mat-icon *ngIf="order.status.id < 8" class="primary-darker">expand_more</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="!order.riderId" (click)="changeRiderOrder(order)">
              <mat-chip-avatar>
              </mat-chip-avatar>
              Sin asignar
              <mat-icon *ngIf="order.status.id < 8" class="primary-darker">expand_more</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <mat-chip-list *ngIf="changingRiderOrder == order.id" class="select-rider">
            <h4>Asignar rider</h4>
            <mat-chip *ngFor="let rider of ridersService.riders" (click)="assignRider(order.id, rider.id)">
              {{rider.name}}
            </mat-chip>
          </mat-chip-list>
          <p *ngIf="!order.status">No se puede asignar</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="stacking">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let order">
          <mat-chip-list *ngIf="order.status">
            <mat-chip (click)="changeRiderOrder(order)" *ngIf="order.riderId" >
              <mat-chip-avatar>
                <img src="assets/pictures/9.png">
              </mat-chip-avatar>
              {{order.rider?.name}}
              <mat-icon *ngIf="order.status.id < 8" class="primary-darker">expand_more</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="!order.riderId" (click)="changeStackingOrder(order)">
              <mat-chip-avatar>
              </mat-chip-avatar>
              Stacking
              <mat-icon *ngIf="order.status.id < 8" class="primary-darker">expand_more</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <mat-chip-list *ngIf="changingStackingOrder == order.id" class="select-rider">
            <h4>Asignar rider</h4>
            <mat-chip *ngFor="let rider of ridersService.riders" (click)="assignRider(order.id, rider.id)">
              {{rider.name}}
            </mat-chip>
          </mat-chip-list>
          <p *ngIf="!order.status">No se puede asignar</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let order" [routerLink]="['/orders/'+order.id  ]">
          <div class="decorated-state "><mat-chip style="background-color: red;color:white;" (click)="ordersService.cancelOrder(order)">
            Cancelar orden
          </mat-chip>
          <mat-chip style="background-color:green;color:white;margin-left:8px" (click)="ordersService.completeOrder(order)">
            Orden entregada
          </mat-chip>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"
        ></tr>
    </table>
    <mat-paginator *ngIf="orders && !storeId" (page)="paginatorEvent($event)" [length]="orders.data.count" [pageSizeOptions]="pageSizeOptions" [pageSize]="ordersService.pageSize"
      aria-label="Select page of GitHub search results"></mat-paginator>
  </mat-card>
</div>