<div class="containered">
    <div>
        <div class="rider-map-container">
            <app-map class="order-map" [zoom]="14" [type]="'rider'" [storePlace]="storeLocation" [customerPlace]="orderLocation" [centeredIn]="rider && order.status.id <=7 ? { lat: rider.trackedInfo.coords.latitude, lng:rider.trackedInfo.coords.longitude} : orderLocation" [polyline]="order? order.polyline : []"></app-map>
        </div>
        <div class="details">
            <mat-card class="events" *ngIf="order">
                <h2><b>Linea de tiempo</b></h2>
                <div class="state" *ngFor="let state of order.states">
                    <div>
                        <div class="dot primary-bg">

                        </div>
                    </div>
                    <div>
                        <h5 no-margin><b>{{state.status.description}}</b></h5>
                        <h6>{{state.createdAt | date: 'medium' }}</h6>
                    </div>
                </div>
            </mat-card>
            <mat-card class="items" *ngIf="false">
                <h1><b>Canasta</b></h1>
                <div class="items-wrapper">
                    <div *ngFor="let item of order.items" class="item">
                        <mat-card class="img-container">
                            <img [src]="item.imageUrl">
                        </mat-card>
                        <div class="items-container"> 
                            <h3><b>{{item.name}}</b></h3>
                            <div class="item-details">
                                <div class="detail">
                                    <h4>x{{item.quantity}}</h4>
                                </div>
                                <div class="detail">
                                    <h4>${{item.price}}</h4>
                                </div>
                                <div class="detail">
                                    <h4>${{item.quantity * item.price}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <h2><b>Valor canasta</b></h2>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="rider-container">
        <mat-card class="primary-bg white" *ngIf="order">
            <h1 align-center no-margin><b>{{order.status.name}}</b></h1>
            <h3 align-center no-margin>Tracking ID #{{order.id}}</h3>
            <h3 align-center >Order ID #{{order.orderId}}</h3>
        </mat-card>
        <mat-card class="rider" *ngIf="rider">
            <h1 align-center no-margin><b>Rider</b></h1>
            <img [src]="rider.pictureUrl" class="profile-pic">
            <h3><b>{{rider.name}}</b></h3>
        </mat-card>
        <mat-card *ngIf="order" class="rider">
            <h1 align-center no-margin><b>Cliente</b></h1>
            <img [src]="order.customer.pictureUrl" class="profile-pic">
            <h4 align-center no-margin><b>{{order.customer.name}}</b></h4>
            <h5 align-center no-margin>{{order.customer.address}}</h5>
            <h4 align-center no-margin>{{order.customer.phone}}</h4>
        </mat-card>            
</div>
