<h4 class="breadcrumb"><mat-icon>map</mat-icon>Mapa</h4>

<app-menu></app-menu>

<div class="map-container" *ngIf="type == 'default'">
    <agm-map
    [usePanning]="false"
    class="map" [latitude]="storeLocation.lat" [longitude]="storeLocation.lng" [zoom]="zoom" [styles]="mapStyles">
        <ng-container *ngIf="mapOptions.isochronus && !mapOptions.isochronus.hidden">
            <ng-container *ngFor="let heatMap of trackingService.renderedHeatMaps | keyvalue">
                <agm-polygon [paths]="toAny(heatMap.value)" [fillColor]="getColor(heatMap.key)"  ></agm-polygon>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!mapOptions.stores.hidden && trackingService.trackingStatus">
            <agm-marker *ngFor="let store of trackingService.trackingStatus" [latitude]="store.storeLocation.lat" [longitude]="store.storeLocation.lng" [iconUrl]="'assets/markers/store.png'"></agm-marker>
        </ng-container>
        
        <agm-marker *ngFor="let rider of ridersService.fleet"  [latitude]="rider.location.lat" [longitude]="rider.location.lng" [iconUrl]="'assets/markers/delivery.gif'" (mouseOver)="overRider(rider)">
            <agm-info-window>
                <h1>{{rider.name}}</h1>
            </agm-info-window>
        </agm-marker>
        
        <agm-marker *ngFor="let rider of trackingService.tracked" [latitude]="rider.trackedInfo.coords.latitude" [longitude]="rider.trackedInfo.coords.longitude" [iconUrl]="'assets/markers/delivery.gif'">
            <agm-info-window>
                <h1>{{rider.name}}</h1>
            </agm-info-window>
        </agm-marker>

        <ng-container *ngIf="!mapOptions.places.hidden">
            <ng-container *ngFor="let order of ordersService.orders">
                <ng-container *ngIf="order.rider">
                </ng-container>
                <agm-marker *ngIf="order.status.id < 8" [latitude]="order.customer.latitude" [longitude]="order.customer.longitude"  [iconUrl]="'assets/markers/place.png'">
                    <agm-info-window>
                        <app-order [order]="order"></app-order>
                    </agm-info-window>
                </agm-marker>
            </ng-container>
        </ng-container>

    </agm-map>
</div>
<div class="map-container" *ngIf="type == 'rider'">
    <agm-map [zoom]="zoom" class="map" [styles]="mapStyles" [latitude]="centeredIn.lat" [longitude]="centeredIn.lng">
        <agm-direction *ngIf="(customerPlace && customerPlace.lat) && (storePlace.lat)" 
        [origin]="centeredIn.lat != customerPlace.lat ? {lat: centeredIn.lat, lng:centeredIn.lng} : {lat: storePlace.lat, lng:storePlace.lng}" 
        [destination]="{lat: customerPlace.lat, lng:customerPlace.lng}"
      >
      </agm-direction>

        <agm-marker *ngIf="customerPlace && customerPlace.lat != centeredIn.lat"[latitude]="centeredIn.lat" [longitude]="centeredIn.lng" [iconUrl]="'assets/markers/delivery.gif'"></agm-marker>
        <agm-marker *ngIf="storePlace.lat" [latitude]="storePlace.lat" [longitude]="storePlace.lng" [iconUrl]="'assets/markers/store.png'"></agm-marker>
        <agm-marker *ngIf="customerPlace.lng" [latitude]="customerPlace.lat" [longitude]="customerPlace.lng" [iconUrl]="'assets/markers/place.png'"></agm-marker>

        <agm-polyline [strokeColor]="'#07b57a'">
                <agm-polyline-point [latitude]="centeredIn.lat"  [longitude]="centeredIn.lng"></agm-polyline-point>
                <agm-polyline-point *ngFor="let point of getPassedLines(centeredIn)" [latitude]="point[0]"  [longitude]="point[1]"></agm-polyline-point>
            </agm-polyline>
    </agm-map>
</div>

<div class="map-container" *ngIf="type == 'store'">
    <agm-map [zoom]="zoom" class="map" [styles]="mapStyles" [latitude]="centeredIn.lat" [longitude]="centeredIn.lng">
        <agm-marker [latitude]="centeredIn.lat" [longitude]="centeredIn.lng" [iconUrl]="'assets/markers/store.png'"></agm-marker>
        <agm-marker *ngIf="lastPoint.type=='store'" [latitude]="lastPoint.lat" [longitude]="lastPoint.lng" [iconUrl]="'assets/markers/store.png'"></agm-marker>
        <agm-marker *ngIf="lastPoint.type=='place'" [latitude]="lastPoint.lat" [longitude]="lastPoint.lng" [iconUrl]="'assets/markers/place.png'"></agm-marker>

        <agm-marker *ngFor="let rider of ridersIds" [latitude]="trackingService.getRiderLocation(rider).trackedInfo.coords.latitude" [longitude]="trackingService.getRiderLocation(rider).trackedInfo.coords.longitude" [iconUrl]="'assets/markers/delivery.gif'"></agm-marker>


        <agm-polyline [strokeColor]="'#07b57a'">
                <agm-polyline-point [latitude]="centeredIn.lat"  [longitude]="centeredIn.lng"></agm-polyline-point>
                <agm-polyline-point *ngFor="let point of getPassedLines(centeredIn)" [latitude]="point[0]"  [longitude]="point[1]"></agm-polyline-point>
            </agm-polyline>
    </agm-map>
</div>