<div class="login primary-bg">
    <img class="logo" src="assets/logo-transparent-bg.png">
    <div class="form">
        <ng-container *ngIf="!auth.credentials.name">
            <h1><b>Bienvenido</b></h1>
            <h1>Ingrese su numero de telefono para iniciar sesión</h1>
        </ng-container>
        <ng-container *ngIf="auth.credentials.name">
            <h1><b>Hola! {{auth.credentials.name}}</b></h1>
            <h1>Por favor ingrese su codigo para iniciar sesión</h1>
        </ng-container>
        <form>
            <div class="form-row" class="{{auth.validating ? 'validating' : ''}}" *ngIf="!auth.credentials.name && !auth.credentials.admin">
                <mat-form-field>
                    <mat-label>Numero de telefono</mat-label>
                    <input (keyup)="auth.validateIfComplete()" [(ngModel)]="auth.credentials.phone" matInput placeholder="Numero de telefono" >
                </mat-form-field>
                <mat-icon (click)="auth.validatePhone()" aria-hidden="false" aria-label="Example home icon">login</mat-icon>
            </div>
            <div class="form-row" class="{{auth.validating ? 'validating' : ''}}" *ngIf="auth.credentials.admin">
               <mat-form-field>
                   <mat-label>Contraseña de acceso</mat-label>
                   <input (keyup)="auth.validateIfComplete()" [(ngModel)]="auth.credentials.password" type="password" matInput placeholder="Contraseña de acceso" >
               </mat-form-field>
               <mat-icon (click)="auth.validatePhone()" aria-hidden="false" aria-label="Example home icon">login</mat-icon>
           </div>
            <button class="access primary-lighter-bg" (click)="auth.credentials.admin = !auth.credentials.admin" type="button" mat-button [class.mat-elevation-z6]="true">
                Acceder como administrador
             </button>
            <div class="form-row" class="{{auth.validating ? 'validating' : ''}}" *ngIf="auth.credentials.name">
                <mat-form-field>
                    <mat-label>Codigo de validación de 6 digitos</mat-label>
                    <input (keyup)="auth.validateIfCompletePass()" [(ngModel)]="auth.credentials.password" matInput placeholder="Codigo de 6 digitos" >
                </mat-form-field>
                <mat-icon (click)="auth.login()" aria-hidden="false" aria-label="Example home icon">login</mat-icon>
            </div>
        </form>
        <p class="error"><b>{{auth.authError}}</b></p>
    </div>
</div>