.login{
    width: 100vw;;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .form{
        h1{
        }
        .form-row{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        form{
        display: flex;
        flex-direction: column;
        mat-form-field{
            padding: 0 1em;
            margin-top: 1em;
            background-color: white;
            border-radius: 10px;
            width: 20em;
        }
        mat-icon{
            margin-left:1em;
            transition: 0.25s ease;
            margin-top: 0.5em;
            &:hover{
                font-size: 2em;
                cursor: pointer;
            }
        }
    }
    } 
}

.validating{
    opacity: 0.7 !important;
}

.access{
    margin: 1em 0;
}

.logo{
    position: absolute;
    left: 2em;
    top: 2em;
    width: 20em;
}

.error{
    color: red;
    margin: 1em 0;
}