<div class="map-menu">
    <mat-card>
        <div class="isochronus-options" *ngIf="mapOptions.isochronus" >
            <div class="flex-row">
             <h3><mat-icon>radar</mat-icon>Poligono isocrono</h3>
            </div>
            <div class="options">
                <mat-slide-toggle (click)="toggleIsochronus()" [(ngModel)]="mapOptions.isochronus.hidden" name="enableIsochronus">Ocultar</mat-slide-toggle>
            </div>
        </div>
    
        <div class="isochronus-options"  *ngIf="mapOptions.stores">
            <div class="flex-row">
                <h3><img src="assets/markers/store.png">Darkstores</h3>
            </div>
            <div class="options">
                <mat-slide-toggle (click)="toggleStores()"   name="showStores">Ocultar</mat-slide-toggle>
            </div>    
        </div>
    
        <div class="isochronus-options"  *ngIf="mapOptions.places">
            <div class="flex-row">
                <h3><img src="assets/markers/place.png">Clientes</h3>
            </div>
            <div class="options">
                <mat-slide-toggle  (click)="togglePlaces()"  ngModel name="showPlaces">Ocultar</mat-slide-toggle>
            </div>    </div>
    
        <div *ngIf="false " class="isochronus-options" >
            <div class="flex-row">
                <div class="gif-container"><img src="assets/markers/delivery.gif" class="gif"></div><h3>Riders</h3>
            </div>
            <div class="options">
                <mat-slide-toggle  ngModel name="enableIsochronus">Ocultar</mat-slide-toggle>
            </div>
        </div>

    </mat-card>   


    
</div>