.map-menu{
    position: absolute;
    height: 500px;
    width: 250px;
    background-color: white;
    z-index: 100;
    right: 3em;
    top:6em;
    padding: 0 1em;
    background-color: transparent;
    mat-card{
        margin: 0 !important;
    }
    h3{
        font-weight: bold;
        mat-icon{
            margin-right: 1em;
        }
        img{
            transform: scale(0.7);
            margin-right: 1em;
        }
    }
    .gif{
        transform: scale(0.7);
        margin-top: -1em;
    }
}

.flex-row{

}

.isochronus-options{
    padding-top: 1em;
}

.options{
    padding: 0 2em;
}