<div class="viewer" *ngIf="auth.credentials.signed">
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened *ngIf="!hideToolbar">
      <div logo [routerLink]="['/']">
        <img src="assets/logo-transparent-bg.png">
      </div>
      <mat-list style="">
        <button (click)="addOrderSheet()" action>Nueva orden</button>
        <mat-list-item  class="menu-item" *ngFor="let action of actions" [routerLink]="['/'+action.route]">
          <div class="item-wrapper" shadowOnHover>
            <mat-icon mat-list-icon>{{action.icon}}</mat-icon>
            <h4 mat-line>{{action.name}}</h4>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar *ngIf="!hideToolbar" class="toolbar" color="primary">
        <mat-toolbar-row>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<app-login *ngIf="!auth.credentials.signed"></app-login>

