.viewer{
    max-height: 100vh;
    height: 100%;
    overflow: hidden;
    mat-drawer-container{
        height: 100%;
    }
}

.container-fluid{
    padding: 2em;
    height: calc(100vh - 9em);
}
mat-drawer{
    width: 15em;
    border: none !important;
}

::ng-deep .menu-item{
    color: grey;
    mat-icon{
        color: grey;
    }
    transition: 0.25s ease;
    &:hover{
        color: rgb(0, 185, 150);
        cursor: pointer;
        .mat-list-item-content{
            border-radius: 5em;
        }

    }    
}

.title{
    &:hover{
        cursor: pointer;
    }
}

.item-wrapper{
    width: 100%;
    display: flex;
    width: 80%;
    margin: 10%;
    border-radius: 5em;
    padding: 0.25em 0.5em;
    margin: auto;
    justify-content: left;
    align-items: center;
    padding: 0.25em 1.5em;
    h4{
        margin: 0 !important;
        margin-left: 0.5em !important;
    }
    :hover{
    }
}

div [logo]{
    display: flex;
    padding: 0 1em;
    img{
        margin-top: 1em;;
        border-radius: 1em;
        transform: scale(0.70);
    }
    .info{
        padding: 0.75em 0;
    }
}