<div>
    <h1 style="margin-left:1em">Por favor ingrese numero de orden</h1>
    <input #orderInput info-input placeholder="Numero de orden">
    <button (click)="getOrder(orderInput)" action>Revisar orden</button>
</div>
<div style="margin: 0.5em 1.1em">
    <h1>Dirección de envio</h1>
    <h3>nombre: {{order.ship_address.full_name}}</h3>
    <h3>Dirección: {{order.ship_address.address1}}</h3>
    <h3>Dpto: {{order.ship_address.address2}}</h3>
    <h3>Numero: {{order.ship_address.phone}}</h3>

    <h1>Stock Location</h1>
    <h1>{{order.shipments[0].stock_location_name}}</h1>
    <button (click)="submitOrder()" action>Enviar orden a hermex</button>
</div>
