<div class="containered">
        <div>
            <div class="rider-map-container">
                <app-map class="rider-map" [zoom]="14" *ngIf="rider.location" [type]="'rider'" [centeredIn]="rider.location" [polyline]="order? order.polyline : []"></app-map>
            </div>
            <div class="details">
                <mat-card class="events" *ngIf="order">
                    <h2><b>Linea de tiempo</b></h2>
                    <div class="state" *ngFor="let state of order.states">
                        <div>
                            <div class="dot primary-bg">

                            </div>
                        </div>
                        <div>
                            <h5 no-margin><b>{{stateNameToDescription[state[0]]}}</b></h5>
                            <h6>{{state[1].split("T")[1]}}</h6>
                        </div>
                    </div>
                </mat-card>
                <mat-card class="items" *ngIf="order">
                    <h1><b>Canasta</b></h1>
                    <div class="items-wrapper">
                        <div *ngFor="let item of order.items" class="item">
                            <mat-card class="img-container">
                                <img src="assets/pictures/unkknown.jfif">
                            </mat-card>
                            <div class="items-container"> 
                                <h3><b>{{item.name}}</b></h3>
                                <div class="item-details">
                                    <div class="detail">
                                        <h4>x{{item.quantity}}</h4>
                                    </div>
                                    <div class="detail">
                                        <h4>${{item.price}}</h4>
                                    </div>
                                    <div class="detail">
                                        <h4>${{item.quantity * item.price}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="total">
                        <h2><b>Valor canasta</b></h2>
                        <h2><b>${{basketValue(order.items)}}</b></h2>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="rider-container">
            <mat-card class="primary-bg white" *ngIf="order">
                <h1 align-center no-margin><b>En reparto</b></h1>
                <h4 align-center no-margin>Tiempo estimado : {{(order.estimatedTime / 60) .toFixed()}} Minutos</h4>
            </mat-card>
            <mat-card class="rider" *ngIf="rider">
                <h1 align-center no-margin><b>Rider</b></h1>
                <img src="assets/pictures/unkknown.jfif" class="profile-pic">
                <h3><b>{{rider.name}}</b></h3>
                <h6 no-margin>Rider</h6>
                <div class="star-rating">
                    <mat-icon *ngFor="let star of ratingToArray(rider.rating).array" [ngClass]="star? 'primary' : 'gray'">star</mat-icon>
                </div>
            </mat-card>
            <mat-card *ngIf="order" class="rider">
                <h1 align-center no-margin><b>Cliente</b></h1>
                <img [src]="order.customer.pictureUrl" class="profile-pic">
                <h4 align-center no-margin><b>{{order.customer.name}}</b></h4>
                <h5 align-center no-margin>{{order.customer.location.lat}} , {{order.customer.location.lng}}</h5>
            </mat-card>            
</div>
