.header{
    display: flex;
    flex-direction: row;
    .info{
        margin-left: 2em;
    }
}

.timeline{
    margin-top: -5em;
}

.riders-table{
    width: 100%;
    text-align: center;
}


.container{
    display: flex;
}

.map{
    border-radius: 2em;
    height: 600px;
    width: 40em;
    overflow: hidden;
    img{
        margin-left: -200px;
    }
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4em;
}

.rider{
    margin-top: 1em;
    &:hover{
        cursor: pointer;
        background-color: rgba(100,100,0,0.1);
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 27.5em;
    .stats{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 1em;
        justify-content: space-around;
        .stat-wrapper{
            margin: 0 0.5em;
        }
        .stat{
            padding: 0.25em 0.5em;
            border-radius: 0.5em;
            margin-bottom: 2em;
        }
    }
    h3{
        margin-bottom: 0 !important;
        text-align: center;
    }
    .profile-pic{
        border-radius: 50%;
        width: 7.5em;
        margin: auto;
        margin-bottom: 1em;
    }
}

::ng-deep .containered{
    .rider-map-container{
        .map-container{            
            height: 25em !important;
            width: 80em;
            margin-right: 3em;
            overflow: hidden;
            border-radius: 3em;
        }
        .rider-map{
            height: 30em !important;
        }
        .breadcrumb{
            display: none !important;
        }
        app-menu{
            display: none;
        }
    }
}


.containered{
    display: flex;
    flex-direction: row;
}

.details{
    display: flex;
    margin-top: 2em;
    .events{
        width: 35%;
    }
    
    .items{
        width: 65%;
    }
}

.state{
    margin-left: 0.5em;
    display: flex;
    border-left: 3px solid #00000062;
}
.events{
    height: 31.5em;
}
.items{
    .total{
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
    }
    padding: 2em;
    &-wrapper{
        height: 20em;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
        border-bottom: 1px solid #00000032;
    }
    height: 30em;
    .item{
        display: flex;
        flex-direction: row;
    }
    .img-container{
        height: 5em;
        width: 8em;
        display: flex;
        justify-content: center;
        margin-right: 2em;
        img{
            max-height: 100%;
        }
    }
}

.item-details{
    display: flex;
    justify-content: space-between;
}

.items-container{
    width: 100%;
    padding: 1em;
    h4{
        color: gray;
    }
}