.dashboard{
    display: flex;
    flex-wrap: wrap;
}


.charts-container{
    display: flex;
    justify-content: space-between;
    padding: 4em 1em;
    .chart{
        width: 50em;
        height: 25em;
        margin-top: 2em;
    }
}

.numbers{
    padding: 4em 1em;
    h1{
        font-size: 4em;
        margin: 0.5em 0;
        font-weight: lighter;
    }
}

.number{
}