<div class="row">
    <div class="col-12">
        <div class="numbers row">
            <div class="number col-4">
                <h1><b>CPO</b></h1>
                <h1>$ {{0}} CLP</h1>
            </div>
            <div class="number col-4">
                <h1><b>OPH</b></h1>
                <h1>0</h1>
            </div>
            <div class="number col-4">
                <h1><b>Max.</b></h1>
                <h1>0 minutos</h1>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <mat-card [class.mat-elevation-z1]="false" stat>
            <div>
                <h5 info>Ordenes en curso</h5>
                <h1 title>{{getTotalOrdersInCourse()}}</h1>
            </div>
            <div>
                <mat-icon class="outlined" info-icon>dashboard</mat-icon>
            </div>
        </mat-card>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <mat-card [class.mat-elevation-z1]="false" stat>
            <div>
                <h5 info>Riders disponibles</h5>
                <h1 title>{{trackingService.tracked.length}}</h1>
            </div>
            <div>
                <mat-icon class="outlined" info-icon>pedal_bike</mat-icon>
            </div>
        </mat-card>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <mat-card [class.mat-elevation-z1]="false" stat>
            <div>
                <h5 info>Pedidos fuera de tiempo</h5>
                <h1 title>NaN</h1>
            </div>
            <div>
                <mat-icon class="outlined" info-icon>warning</mat-icon>
            </div>
        </mat-card>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <mat-card [class.mat-elevation-z1]="false" stat>
            <div>
                <h5 info>Incidentes</h5>
                <h1 title>NaN</h1>
            </div>
            <div>
                <mat-icon class="outlined" info-icon>warning</mat-icon>
            </div>
        </mat-card>
    </div>

    
</div>
<div class="row" *ngIf="deliveryData.length">
    <div class="col-12 col-lg-6">
        <mat-card class="flex-center">
            <h1><b>Estado de los pedidos</b></h1>
            <google-chart [type]="barType" class="chart" [data]="deliveryData"></google-chart>
        </mat-card>
    </div>
    <div class="col-12 col-lg-6">
        <mat-card class="flex-center">
            <h1><b>Ordenes vs Riders activos cada hora</b></h1>
        <google-chart [type]="lineType"  class="chart" [data]="ordersData"></google-chart>
        </mat-card>
    </div>
</div>