/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$green-palette, A400);
$my-accent: mat.define-palette(mat.$amber-palette, 700);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.row{
    display: flex;
    flex-direction: row;
}

.breadcrumb{
    opacity: 0.7;
    mat-icon{
        margin-right: 0.5em;
    }
}

.pl{
    padding-left: 2em !important;
}

.border-right{
    border-right: 1px solid #00000040;
}

.table-title{
    position: absolute;
    margin-top: -6em !important; 
    font-weight: bold;
}

.mt{
    margin-top: 4em;
}
.at{
    margin-top: 1.5em;
}

.al{
    margin-left: 1em;
}

.ar{
    margin-right: 1em;
}

.green-bg{
    background-color: green !important;
    color: white !important;
}

.mat-table{
    width: 100%;
}

.flex-row{
    display: flex;
    justify-content: left;
    align-items: center;
    .gif-container{
        width: 74px;
        margin-left: -20px;
    }
}

mat-chip-avatar{
    img{
        max-width: 2em !important;
    }
}

mat-card{
    border-radius: 1em !important;
    box-shadow: 0px 1px 10px -1px rgb(0 0 0 / 3%), 0px 1px 10px 0px rgb(0 0 0 / 5%), 0px 1px 10px 0px rgb(0 0 0 / 9%) !important;
    margin: 0.5em 1em;
    &[stat]{
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 2.5em;
        margin: 2.5%;
    }
}

mat-icon{
    &[info-icon]{
        background-color: lavender;
        padding: 0.5em;
        border-radius: 0.5em;
        color: blue;
    }
}

h5{
    &[info]{
        color: gray;
        margin: 0.25em !important;
    }
}

h1{
    &[title]{
        font-weight: bold;
    }
}

div [shadow]{
    box-shadow: 0px 1px 10px -1px rgb(0 0 0 / 3%), 0px 1px 10px 0px rgb(0 0 0 / 5%), 0px 1px 10px 0px rgb(0 0 0 / 9%) !important;
}

div [shadowOnHover]:hover{
    background: mat.get-color-from-palette($my-primary, lighter);
    color: mat.get-color-from-palette($my-primary, darker);
}

h1,h2,h3,h4,h5,h6{
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    &[no-margin]{
        margin: 0;
    }
}

h6, h5{
    color: grey;
}

.primary-lighter-bg{
    background: mat.get-color-from-palette($my-primary, lighter);
}

.primary-lighter{
    color: mat.get-color-from-palette($my-primary, lighter);
}


.primary-bg {
    background: mat.get-color-from-palette($my-primary);
   }

.primary{
    color: mat.get-color-from-palette($my-primary);
    &-darker{
        color: mat.get-color-from-palette($my-primary, darker);

    }
}
.white{
    color: white;
}

.accent{
    color: mat.get-color-from-palette($my-accent);
}

img{
    max-width: 100%;
}

mat-card{
    border-radius: 2.5em !important;
}

.mat-form-field-underline{
    display: none;
}

.mat-form-field-wrapper{
    padding-bottom: 0.5em !important;
}
.mat-form-field-prefix{
    margin-right: 1em;
}
.mat-form-field-should-float .mat-form-field-label-wrapper {
    display: none!important;
}
.mat-focused .al-subscribe-form-placeholder,
.mat-form-field-invalid .al-subscribe-form-placeholder {
    display: none!important;
}
//end


.breadcrumb{
    opacity: 0.7;
    mat-icon{
        margin-right: 0.5em;
    }
}

.pl{
    padding-left: 2em !important;
}

.border-right{
    border-right: 1px solid #00000040;
}

.table-title{
    position: absolute;
    margin-top: -6em !important; 
    font-weight: bold;
}

.mt{
    margin-top: 4em;
}
.at{
    margin-top: 1.5em;
}

.al{
    margin-left: 1em;
}

.ar{
    margin-right: 1em;
}

.green-bg{
    background-color: green !important;
    color: white !important;
}

.mat-table{
    width: 100%;
}

.flex-row{
    display: flex;
    justify-content: left;
    align-items: center;
    .gif-container{
        width: 74px;
        margin-left: -20px;
    }
}

mat-card{
    border-radius: 1em !important;
    box-shadow: 0px 1px 10px -1px rgb(0 0 0 / 3%), 0px 1px 10px 0px rgb(0 0 0 / 5%), 0px 1px 10px 0px rgb(0 0 0 / 9%) !important;
    &[stat]{
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 2.5em;
        margin: 0.5em 1em;
    }
}

mat-icon{
    &[info-icon]{
        background-color: lavender;
        padding: 0.5em;
        border-radius: 0.5em;
        color: blue;
    }
}

h5{
    &[info]{
        color: gray;
        margin: 0.25em !important;
    }
}

h1{
    &[title]{
        font-weight: bold;
    }
}

div [shadow]{
    box-shadow: 0px 1px 10px -1px rgb(0 0 0 / 3%), 0px 1px 10px 0px rgb(0 0 0 / 5%), 0px 1px 10px 0px rgb(0 0 0 / 9%) !important;
}

div [shadowOnHover]:hover{
    background-color: rgb(0 185 150 / 9%);
}

h1,h2,h3,h4,h5,h6{
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    &[no-margin]{
        margin: 0;
    }
    &[align-right]{
        text-align: right;
    }
    &[align-center]{
        text-align: center;
    }
}

h6{
    color: grey;
}

.flex-center{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




//elements

div [iconInLight]{
    padding: 0.75em;
    border-radius: 0.5em;
    width: 2em;
    justify-content: center;
    align-items: center;
    height: 2em;
}

//shapes

.dot{
    border-radius: 50%;
    height: 1em;
    width: 1em;
    margin-right: 1em;
    margin-left: -0.5em;
}

//states

.decorated-state{
    padding: 0.5em;
    border-radius: 2em;
    display: flex;
    justify-content: center;
}
.queued, .assigned{
    border: 2px solid yellow;
    color: yellow;
}
.dropoff{
    border: 2px solid green;
    color: green;
}
.accepted, .near, .picked{
    border: 2px solid blue;
    color: blue;
}

button[action]{
    background: mat.get-color-from-palette($my-primary);
    border: none !important;
    border-radius: 20px;
    color: white;
    width: calc(100% - 2em);
    font-size: 1.25em;
    padding: 0.5em;
    margin: 0.5em 1em;
}

input[info-input]{
    width: calc(100%-2em);
    font-size: 1.5em;
    margin: 0.5em 1em;
}